.roomSettings {
   border-radius: 3px;
   margin-top: 12px;
}

.settingWrapper {
   padding: 12px;
   background-color: rgba(255, 255, 255, 0.1);
   margin-bottom: 12px;
}
.settingWrapper header span {
   color: white;
   font-size: 1.2rem;
   font-weight: 600;
}

.settingWrapper input[type='checkbox'] {
   display: inline;
   height: 20px;
   width: 20px;
   margin-left: 10px;
}

.settingWrapper article {
   color: white;
   margin-top: 12px;
}

.btnRoomSettings {
   margin-bottom: 12px;
}

.availableSettings {
   overflow: hidden;
   transition: 0.5s all ease;
}

.availableSettings.open {
   max-height: 1000px;
}

.availableSettings.closed {
   max-height: 0px;
}

.settingDateInput {
   background: none;
   border: none;
   margin-top: 12px;
   color: white;
   font-size: 1.1rem;
   position: relative;
}

/* ::-webkit-datetime-edit
::-webkit-datetime-edit-fields-wrapper
::-webkit-datetime-edit-text
::-webkit-datetime-edit-month-field
::-webkit-datetime-edit-day-field
::-webkit-datetime-edit-year-field
::-webkit-inner-spin-button
::-webkit-calendar-picker-indicator */

.settingDateInput::-webkit-datetime-edit {
   padding: 12px;
   border-radius: 24px;
   text-align: center;
   background-color: rgb(255, 242, 169);
   color: black;
   font-weight: 600;
}

/* pseudo element that has the click event for opening the native calendar */
.settingDateInput::-webkit-calendar-picker-indicator {
   background-image: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
