.roomSettings {
   border-radius: 3px;
   margin-top: 12px;
}

.settingWrapper {
   padding: 12px;
   background-color: rgba(255, 255, 255, 0.1);
   margin-bottom: 12px;
}
.settingWrapper header span {
   color: white;
   font-size: 1.2rem;
   font-weight: 600;
}

.settingWrapper input[type='checkbox'] {
   display: inline;
   height: 20px;
   width: 20px;
   margin-left: 10px;
}

.settingWrapper article {
   color: white;
   margin-top: 12px;
}

.btnRoomSettings {
   margin-bottom: 12px;
}

.availableSettings {
   overflow: hidden;
   transition: 0.5s all ease;
}

.availableSettings.open {
   max-height: 1000px;
}

.availableSettings.closed {
   max-height: 0px;
}
