.roomEditor {
    max-width: 300px;
    margin: auto;
    padding: 12px;
    border-radius: 6px;
}

.controls {
    /* border: 1px solid red; */
}

.roomEditor label {
    color: white;
}

.roomNameInput input {
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    border: 0;
    width: 100%;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

.roomNameInput input::placeholder {
    color: #ffffff;
    font-size: 1.2rem;
}

.votingOptions {
    margin-top: 12px;
    margin-bottom: 12px;
}
