.roomEditor {
   max-width: 300px;
   margin: auto;
   padding: 12px;
   border-radius: 6px;
}

.controls {
   /* border: 1px solid red; */
}

.roomEditor label {
   color: white;
}

.roomNameInput textarea {
   text-align: center;
   padding: 12px;
   border-radius: 6px;
   border: 0;
   width: 100%;
   font-size: 1.2rem;
   background-color: transparent;
   font-weight: 600;
   color: white;
   height: 44px;
   resize: none;
}

.roomNameInput textarea::-webkit-scrollbar {
   display: none;
}

.roomNameInput textarea:active,
.roomNameInput textarea:focus {
   outline: 0;
   border: 0;
}

.roomNameInput textarea:active::placeholder,
.roomNameInput textarea:focus::placeholder {
   opacity: 0;
}

.roomNameInput textarea::placeholder {
   opacity: 1;
   transition: 0.3s ease all;
   font-size: 1.2rem;
   color: white;
}

.votingOptions {
   margin-bottom: 12px;
}
