.votingOption {
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr;
    padding: 6px;
    transition: 0.125s all ease;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.votingOption.removable {
    margin-bottom: 6px;
}

.votingOption:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.votingOption.removable:hover {
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.votingOption input {
    padding: 6px;
    display: block;
    outline: none;
    border: none;
}

.votingOption input[type="radio"],
.votingOption button {
    width: 30px;
    height: 30px;
    border-radius: 60px;
}

.votingOption button {
    background-color: rgb(76, 168, 76);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.votingOption span {
    margin-left: 6px;
    padding: 6px;
}

.votingOption button span {
    display: block;
    font-size: 1.5rem;
    font-weight: 100;
    width: 100%;
    margin: auto;
    padding: 0;
    color: white;
}

.votingOption .btnRemoveOption {
    background-color: rgb(230, 99, 99);
    padding-bottom: 3.5px;
}

.votingOption input[type="text"] {
    margin-left: 6px;
}

.votingOption input:not(:focus)::placeholder {
    opacity: 1;
    font-size: 1rem;
}

.votingOption button {
    display: block;
    border: none;
    outline: none;
}

.votingOptionAdder {
    border: 1px dashed rgba(255, 255, 255, 0.25);
    background: none;
}

.votingOptionAdder input[type="text"] {
    background-color: transparent;
    color: white;
    border-radius: 6px;
    font-size: 1rem;
    font-family: "Helvetica";
}

.votingOptionAdder input[type="text"]::placeholder {
    color: white;
}
